*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: white;
    color: black;
}

#header{
    width: 100%;
    height: 100vh;
    background-color: white;
    background-image:url(Images/life-of-a-ux-designer-800x600.gif);
    background-repeat: no-repeat;
    background-size:50%;
    background-position:100% 60%;
} 
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.logo{ 
    width: 160px;
}
nav ul li{
    display: inline-block;
    list-style:none;
    margin: 10px 20px;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    position: relative;

}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #710193;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}
nav ul li a:hover::after{
    width: 100%;

}
.header-text{
    margin-top: 20%;
    font-size: 30px;
    

}
.header-text h1{
    font-size: 50px;
    margin-top: 20px;
    font-family: 'Poppins',sans-serif;
}
.header-text h1 span{
    color: #710193;
    font-family: 'Poppins',sans-serif;
}
.header-text h1 span1{
    color: #710193;
}
.header-text h1 span2{
    color:#a8f1ff
}
.header-text h1 span3{
    color: #b6a917;
}
.header-text h1 span4{
    color: #ffa5d3;
}
.header-text h1 span5{
    color: #feb849;
}

.text-typing p {
    margin:0px;
    white-space:nowrap;
    overflow:hidden;
    animation:typing 3s steps(30,end) forwards,
              blink 1.5s ease-out;
  }

  .text-typing h1 {
    margin:0px;
    white-space:nowrap;
    overflow:hidden;
    animation:typing 3s steps(30,end) forwards,
              blink 1.5s ease-out;
  }
  @keyframes typing {
    0% { width:0% }
    100% { width:100% }
  }
  @keyframes blink {
    0%,100% {
      border-right:2px solid transparent;
    }
    50% {
      border-right:2px solid #222;
    }
  }
/*--------------------about---------------------------*/

#about{
    padding: 90px 0;
    color: #ababab;
}
.row{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius:15px;
    border-style:groove;
    border-color:#e0c4e9;
    box-shadow: -10px 15px 5px rgba(190, 190, 190, 0.932);
    
}
.about-col-2{
    flex-basis: 60%;
}
.subtitle{
    font-size:50px;
    font-weight: 600;
    font-family: 'Cutive', serif;
    color: black;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    font-weight: bold;

}
.tab-links::after
{
    content: '';
    width: 0;
    height: 3px;
    background-color:#710193;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;

}
.tab-contents ul li{
    list-style:none;
    margin: 20px 0;

}
.tab-contents ul li span{
    color: #a338c4;
    font-size: 14px;
    font-weight: 1000;
}
.tab-contents{
    display:none;
}
.tab-contents.active-tab{
    display:block;
}

/*----------Portfolio-------------------------------*/

#portfolio{
    padding: 50px 0;
}

.worklist{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    

}

.work{
    width: 100%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 10px 15px 5px rgba(190, 190, 190, 0.932);
  
}
.work img{
    width: 200%;
    border-radius: 16px;
    display:block;
    box-shadow: 10px 10px 5px rgba(190, 190, 190, 0.932);
    transition: transform 0.5s;

}

.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6),#000000);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    transition:height 0.5s;
}
.layer h3{
    color: white;
    font-weight: 500;
    margin-bottom: 20px;
}
.layer p{
    color: white;
    text-align: center;
}
.layer a{
    margin-top: 20px;
    color: #710193;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px groove black;
    padding: 14px 50px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    color: black;
}
.btn:hover{
    background: black;
    color: white;
    transition: 0.5s;
}


/*--------------------Blog-----------------------------*/

#portfolio{
    padding: 50px 0;
}

.worklist1{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    

}

.work1{
    width: 100%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 10px 15px 5px rgba(190, 190, 190, 0.932);
  
}
.work1 img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
    display:block;
    box-shadow: 10px 10px 5px rgba(190, 190, 190, 0.932);
    transition: transform 0.5s;

}

.layer1{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6),#000000);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    transition:height 0.5s;
}
.layer1 h3{
    color: white;
    font-weight: 500;
    margin-bottom: 20px;
}
.layer1 p{
    color: white;
    text-align: center;
}
.layer1 a{
    margin-top: 20px;
    color: #710193;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work1:hover img{
    transform: scale(1.1);
}
.work1:hover .layer1{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px groove black;
    padding: 14px 50px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    color: black;
}
.btn:hover{
    background: black;
    color: white;
    transition: 0.5s;
}


/*-------------------Contact--------------------------*/

.contact-left{
    flex-basis: 35%;

}
.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #710193;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transform: 0.5s;
}
.social-icons a:hover{
    color:#710193;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: white;
    color: #710193;
}
.btn.btn2:hover{
    background:#710193;
    color: white;
    transition: 0.5s;
}
.contact-right form{
    width: 100%;

}
form input, form textarea{
    width: 100%;
    border:0;
    outline: none;
    background: #292929;
    padding: 15px;
    margin: 15px 0;
    color: white;
    font-size: 18px;
    border-radius: 6px;

}
form .btn2{
    padding:14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0 ;
    background: #292929;
    color: white;
    font-weight: 300;
    margin-top: 20px;
}

/*----------------------css for small screen--------------------------*/
nav .fas{
    display: none;
}
@media only screen and (max-width: 600px){
    #header{
background-image: url(Images/life-of-a-ux-designer-800x600.gif);
background-position: 75% 40%;
background-size: 80%;
}
.header-text{
    margin-top:130%;
    font-size: 16px;

}
.header-text h1{
    font-size: 30px;
}
nav .fas{
    display: block;
    font-size: 25px;
}
nav ul{
    background:black;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index:2;
    transition: right 0.5s;
    color: white;
}
nav ul li{
    display: block;
    margin: 25px;
}
nav ul li a{
    color: white;
    font-family: 'Cutive', serif;
}
nav ul .fas{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
}

.subtitle{
    font-size: 40px;
}
.about-col-1, .about-col-2{
    flex-basis: 100%;
    margin-top: -50px;
}
.about-col-1{
    margin-bottom: 70px;
}
.about-col-2{
    font-size: 14px;
}
.tab-links{
    font-size: 16px;
    margin-right: 20px;
}

.contact-left,.contact-right{
    flex-basis: 100%;
}
.copyright{
    font-size: 14px;
}
}
#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;

}
